{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Book Service{% endblock %}

{% block content %}
<h1>Book Service</h1>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="date" value="{{ selected_date }}">
    <input type="hidden" name="service" value="{{ selected_service_id }}">
    <input type="hidden" name="time_slot" id="selected-time-slot">
    
    <h3>Select Time Slot:</h3>
    <div id="time-slots">
        {% for slot in available_slots %}
            <button type="button" class="time-slot" data-slot="{{ slot }}">{{ slot }}</button>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Book Now</button>
</form>

<style>
      #time-slots {
        margin: 10px 0;
    }

    .time-slot {
        padding: 10px 20px;
        margin: 5px;
        border: 1px solid #007bff;
        background-color: #fff;
        color: #007bff;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
    }

    .time-slot.active {
        background-color: #007bff;
        color: white;
    }

    .time-slot.disabled {
        background-color: #e9ecef;
        color: #6c757d;
        cursor: not-allowed;
        border-color: #6c757d;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }
</style>
{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/booking.js' %}"></script>

{% endblock %}

