
a {
    color: #3f3f3f;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
    text-underline-offset: 5px;
    transition: 200ms;
}

body {
    background-color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
}

.ticker-wrap {
    margin-top: 5vh;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    box-sizing: content-box;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;

}

.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: #79B341;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

#achensee-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

#achensee-image img {
    max-height: 50vh;
    width: auto;
}

#map {
    height: 50vh;
    width: 100%;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.card {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 20px;
}

.booking-card {
    color: #ced4da;
}

.bg-darker {
    background-color: rgb(0, 0, 0, 0.2);
}

.booking-success-button {
    color: green
}

.map-responsive {

    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    overflow: hidden;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
