a {
    color: #3f3f3f;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
    text-underline-offset: 5px;
    transition: 200ms;
}

body {
    background-color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
}

#nav-logo{
    max-height: 2vh;

}

/* footer */

footer li {
    list-style: none;
    color: black;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 0;
}

#social-network {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 2vh;
    width: 20px;
    height: 20px;
    margin: 2vh;
    font-size: 150%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

footer > ul {
    padding-left: 0;
}

/* home.html */

.ticker-wrap {
    margin-top: 5vh;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    box-sizing: content-box;
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: #c7c7c7;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

#achensee-image {
    display: flex;
    justify-content: center;
    align-items: center;

}

#achensee-image img {
    max-height: 50vh;
    width: auto;
}

#map {
    height: 50vh;
    width: 100%;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.card {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 20px;
}

.bg-darker {
    background-color: rgb(0, 0, 0, 0.2);
}

.booking-success-button {
    color: green
}

/* blog - from codestar project */

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

